/* Visualizer.css - Styles for 3D visualizer page */
.visualizer-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
}

.visualizer-canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.visualizer-canvas {
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
}

/* Loading state (if needed in future) */
.visualizer-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #666;
}
